*{
  animation: fadein 2s ease-in-out;
}

*::-webkit-scrollbar{
  width: 0;
}

@keyframes fadein{
  from{
    transform:scale(0.1);
    /* transform: rotate(180deg); */
  }
  to {
    transform:scale(1)
  }
}

.App{
   background: rgb(255, 255, 255);
   display: inline-grid;
   grid-template-columns: 100%;
   grid-template-rows: 40px auto 70px;
   grid-template-areas: 'nav' 'main' 'foot';
   width: 100vw;
   height: 100vh;
}

nav{
  grid-area: nav;
  display: flex;
  background: rgb(255, 255, 255);
  box-shadow: 1px 0px 5px lightgray;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

main{
  grid-area: main;
}

footer{
  grid-area: foot;
  display: flex;
  background: rgb(255, 255, 255);
  box-shadow: 0px -3px 2px 2px lightgrey;
  
}

footer ul{
  list-style: none;
  display: inherit;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: inherit;
}

footer ul li{
  width: -webkit-fill-available;
  background: rgb(10, 61, 213);
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 900;
  color: white;
  letter-spacing: 2px;
}

li.active{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background:rgb(233, 51, 81);
}

li{
  list-style: none;
}

form{
  display: flex;
}

form input {
  border: none;
  padding: 5px;
  border:1px solid;
  border-radius: 7px;
  border-bottom-left-radius: none;
  border-top-left-radius: none;
}

form label{
  width: 100%;
}

button[type=submit]{
  border:none;
  background: royalblue;
  padding: 7px;
  border-radius: 5px;
  border-bottom-right-radius: none;
  border-top-right-radius: none;
  
}

.article-container{
  
  padding: 10px;
  overflow: auto;
}

.article{
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0px 5px grey;
  width: 100%;
}